
/* formatting and styling top*/ 

.header-container {
color: #ffffff;
font-family:'Courier New', Courier, monospace;
background-color: #383737;
}

h1 {
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.option-container {
color: #f8f8fa;
background-color: #4c53dd;
font-family:'Courier New', Courier, monospace;
}

/* search*/
.card-content {
  padding: 2%;
}

.header, .subheader {
  margin: 1;
}

input {
  border: 2px solid rgb(124, 135, 236);
  font-size: 1rem;
  width: 80%;
  height: 2rem;
  border-radius: 25px;
  margin-bottom: 3rem;
  padding: 1rem;
}

button {
  border-radius: 11px;
  width: 130px;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*media queries*/

/* Tablet */
  @media screen and (min-width: 768px) {
    .card {
      flex: 1 0 30%;
      max-width: 17.625rem;
    }
  }

  /* Desktop */
  @media screen and (min-width: 1024px) {
    .card {
      flex: 1 0 20%;
    }
  }

  @media screen and (min-width: 768px) {
    img {
      min-height: 15.5rem;
    }
  }

  @media screen and (min-width: 1200px) {
    img {
      min-height: 16.375rem;
    }
  }


/* this is for the cards and api*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(40% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
    overflow: hidden;
    color: #024892;
    background-color: #2f3338;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    color: #f2f2f4;
    background-color: #2f3338;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card-text {
    font-size: 1rem;
    color: #f1f4f7;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #f7f8fa;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #024892;
}

